$mainBlue: #233E7B;
$mainYellow: #f5d77c;//F2D38B
$gradient: linear-gradient(45deg,
        #0b1d3a,
        #1e4d6e,
        #0E518A,
        #3a8ca3,
        #f5d77c);

$titleSize: 4.5rem;
$subtitleSize: 2rem;
$h3size: 1.5rem;
$paragraphSize: 1rem;
